@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&family=Silkscreen&display=swap');

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

html, body {
    /* max-width: 100%; */
    overflow-x: hidden;
    /* overflow: hidden; */
    color: whitesmoke;
    background-color: #282828;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Silkscreen', sans-serif;
}

h2 {
    text-align: center;
    font-size: 3em;
    font-family: 'Silkscreen', sans-serif;
    /* margin-top: 4.5em; */
}

#outline-container-org316f44b {
    margin-top: 12em;
}

p {
    text-align: center;
    font-family: 'Silkscreen', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: min(100%, 30em);
}

.outlined-text {
  text-shadow: 
    -2px -2px 0 #000,  
    -4px -4px 0 #000,  
    -6px -6px 0 #000,  
    -8px -8px 0 #000,  
     2px -2px 0 #000,
     4px -4px 0 #000,
     6px -6px 0 #000,
     8px -8px 0 #000,  
    -8px  8px 0 #000,  
    -6px  6px 0 #000,
    -4px  4px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,  
     4px  4px 0 #000,
     6px  6px 0 #000,
     8px  8px 0 #000;
}

.thin-outlined-text {
  text-shadow: 
    -1px -1px 0 #000,  
    -2px -2px 0 #000,  
    -3px -3px 0 #000,  
    -4px -4px 0 #000,  
     1px -1px 0 #000,
     2px -2px 0 #000,
     3px -3px 0 #000,
     4px -4px 0 #000,  
    -4px  4px 0 #000,  
    -3px  3px 0 #000,
    -2px  2px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,  
     2px  2px 0 #000,
     3px  3px 0 #000,
     4px  4px 0 #000; /* Outline effect */
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32em;
    max-width: 100%;

    border-radius: 3000em;

    animation: spin 1.5s linear infinite;
}

.text-logo {
    text-align: center;
    /* margin-top: -3.8em; */

    font-size: 6em;
    font-family: 'Silkscreen', sans-serif;
    user-select: none;

    scale: 1;
    transition: transform 0.5s ease-in-out;
}
.logo-container:hover .text-logo {
    transform: scale(1.2) rotate(5deg);
    cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.info-container {
    /* margin-top: ; */
    margin-left: auto;
    margin-right: auto;

    background-color: #6b9be8;
    max-width: 12em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    text-align: center;

    font-size: 3em;
    font-family: 'Silkscreen', sans-serif;
    text-decoration: none;
}

.validation {
    /* make it invisible */
    display: none;
}

.date {
    display: none;
}